
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>tablo orengi</h3>
<br />
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>ad</th>
        <th>aciklama</th>
        <th>durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>egitiim</td>
        <td>acikalam</td>
        <td>true</td>
    </tr>
</table>
<button class="btn btn-success">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>